@page
@model webex.Pages_MuscleGroup.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white">Muscle Groups</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table text-neutral">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MuscleGroup[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MuscleGroup[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MuscleGroup[0].MuscleFunction)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MuscleGroup) {
        <tr style="color: @item.Color">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MuscleFunction)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
