@page
@model webex.Pages.Workouts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-white">Edit</h1>

<h4 class="text-white">Workout</h4>
<hr />
<div class="row">
    <div class="col-md-4 text-neutral">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Workout.Id" />
            <div class="form-group">
                <label asp-for="Workout.Name" class="control-label"></label>
                <input asp-for="Workout.Name" class="form-control" />
                <span asp-validation-for="Workout.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.Color" class="control-label"></label>
                <input asp-for="Workout.Color" class="form-control form-control-color" type="color" />
                <span asp-validation-for="Workout.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="container">
        <div id="ex-list" class="row justify-content-start">
            @{
                var exercisesList = new SelectList(Model.Exercises, "Id", "Name");
            }
            @foreach (var ex in Model.Workout.WorkoutExercises)
            {
                <div class="exercise col-sm-3">
                    <form method="post" asp-page-handler="DeleteExercise" class="d-flex justify-content-end">
                        <input type="hidden" name="workoutId" value="@Model.Workout.Id" />
                        <input type="hidden" name="exId" value="@ex.Id" />
                        <button type="submit" class="btn btn-primary">X</button>
                    </form>
                    <form method="post" asp-page-handler="exerciseupdate">
                        <input type="hidden" name="workoutId" value="@Model.Workout.Id" />
                        <input type="hidden" name="WorkoutExercise.Id" value="@ex.Id" />

                        <label asp-for="@Model.WorkoutExercise.Exercise" class="control-label"></label>
                        <select asp-for="@Model.WorkoutExercise.Exercise.Id" class="form-control" asp-items="@exercisesList">
                            <option value="">---</option>
                            @{
                                if (@ex.Exercise != null)
                                {
                                    <option value="@ex.Exercise.Id" selected>@ex.Exercise.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="@Model.WorkoutExercise.Exercise" class="text-danger"></span>
                        @{
                            var checkExercise = ex.Duration == null;

                            var repDisplay = checkExercise ? "block" : "none";
                            var durDisplay = !checkExercise ? "block" : "none";
                        }
                        <div class="control-label">Exercise type</div>
                        <div class="form-check">
                            <input class="form-check-input repetitions-checkbox" type="radio" name="ex-type"
                                checked="@checkExercise">
                            <label class="form-check-label text-white">Repetitions</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input duration-checkbox" type="radio" name="ex-type"
                                checked="@(!checkExercise)">
                            <label class="form-check-label text-white">Duration</label>
                        </div>

                        <div class="repetitions-inputs" style="display: @repDisplay;">
                            <label asp-for="@Model.WorkoutExercise.Reps" class="control-label"></label>
                            <input asp-for="@Model.WorkoutExercise.Reps" value="@ex.Reps" class="form-control" />
                            <span asp-validation-for="@Model.WorkoutExercise.Reps" class="text-danger"></span>

                            <label asp-for="@Model.WorkoutExercise.Weight" class="control-label"></label>
                            <input name="WorkoutExercise.Weight" value='@ex.Weight' class="form-control" />
                            <span asp-validation-for="@Model.WorkoutExercise.Weight" class="text-danger"></span>
                        </div>

                        <div class="duration-inputs" style="display: @durDisplay;">
                            <label asp-for="@Model.WorkoutExercise.Duration" class="control-label"></label>
                            <input asp-for="@Model.WorkoutExercise.Duration" value="@ex.Duration" class="form-control" />
                            <span asp-validation-for="@Model.WorkoutExercise.Duration" class="text-danger"></span>
                        </div>

                        <label asp-for="@Model.WorkoutExercise.Rest_Seconds" class="control-label"></label>
                        <input asp-for="@Model.WorkoutExercise.Rest_Seconds" value="@ex.Rest_Seconds" class="form-control" />
                        <span asp-validation-for="@Model.WorkoutExercise.Rest_Seconds" class="text-danger"></span>
                        <div class="text-center">
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
    <form method="post" asp-page-handler="exercise">
        <input type="hidden" name="id" value="@Model.Workout.Id" />
        <button class="btn btn-primary">
            Add a new exercise
        </button>
    </form>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

<style>
    .exercise {
        border: var(--neutral) solid 1px;
        padding: 10px;
        margin: 10px 0;
    }
</style>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $('.repetitions-checkbox, .duration-checkbox').on('change', function () {
            let index = $('.repetitions-checkbox').index(this)
            if (index == -1) index = $('.duration-checkbox').index(this)

            if ($(this).is(':checked')) {
                $('.repetitions-inputs').eq(index).find('input').val('');
                $('.duration-inputs').eq(index).find('input').val('');
            }

            console.log(index)
            $('.repetitions-inputs').eq(index).toggle()
            $('.duration-inputs').eq(index).toggle()
        })

        $('.exercise').submit((e) => {
            let weightInput = e.target.elements["WorkoutExercise.Weight"]
            weightInput.value = weightInput.value.replace('.', ',')

            return true
        })


    </script>
}
@* Трябва да направя при натискане на checkbox да се изтриват вече въведените от потребителя данни. трите инпът с
jquery, триене на стойност *@
