@page
@model webex.Pages.Workouts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Workout</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Workout.Id" />
            <div class="form-group">
                <label asp-for="Workout.Name" class="control-label"></label>
                <input asp-for="Workout.Name" class="form-control" />
                <span asp-validation-for="Workout.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Workout.Color" class="control-label"></label>
                <input asp-for="Workout.Color" class="form-control form-control-color" type="color"/>
                <span asp-validation-for="Workout.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div id="ex-list">
        @{
            var exercisesList = new SelectList(Model.Exercises, "Id", "Name");
        }
        @foreach(var ex in Model.Workout.WorkoutExercises)
        {
            <form method="post" asp-page-handler="exerciseupdate" class="exercise">
                <input type="hidden" name="workoutId" value="@Model.Workout.Id" />
                <input type="hidden" name="WorkoutExercise.Id" value="@ex.Id" />

                <label asp-for="Workout" class="control-label"></label>
                <select asp-for="@Model.WorkoutExercise.Exercise.Id" class="form-control" asp-items="@exercisesList">
                    <option value="">---</option>
                    @{
                        if(@ex.Exercise != null)
                        {
                            <option value="@ex.Exercise.Id" selected>@ex.Exercise.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="@Model.WorkoutExercise.Exercise" class="text-danger"></span>

                <div class="control-label">Exercise type</div>
                <div class="form-check">
                    <input class="form-check-input repetitions-checkbox" type="radio" name="ex-type" checked>
                    <label class="form-check-label text-white">Repetitions</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input duration-checkbox" type="radio" name="ex-type">
                    <label class="form-check-label text-white">Duration</label>
                </div>

                <div class="repetitions-inputs" style="display: block;">
                    <label asp-for="@Model.WorkoutExercise.Reps" class="control-label"></label>
                    <input asp-for="@Model.WorkoutExercise.Reps" value="@ex.Reps" class="form-control" />
                    <span asp-validation-for="@Model.WorkoutExercise.Reps" class="text-danger"></span>

                    <label asp-for="@Model.WorkoutExercise.Weight" class="control-label"></label>
                    <input name="WorkoutExercise.Weight" value='@ex.Weight' class="form-control"/>
                    <span asp-validation-for="@Model.WorkoutExercise.Weight" class="text-danger"></span>
                </div>

                <div class="duration-inputs" style="display: none;">
                    <label asp-for="@Model.WorkoutExercise.Duration" class="control-label"></label>
                    <input asp-for="@Model.WorkoutExercise.Duration" value="@ex.Duration" class="form-control" />
                    <span asp-validation-for="@Model.WorkoutExercise.Duration" class="text-danger"></span>
                </div>

                <label asp-for="@Model.WorkoutExercise.Rest_Seconds" class="control-label"></label>
                <input asp-for="@Model.WorkoutExercise.Rest_Seconds" value="@ex.Rest_Seconds" class="form-control" />
                <span asp-validation-for="@Model.WorkoutExercise.Rest_Seconds" class="text-danger"></span>

                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </form>
        }
    </div>
    <form method="post" asp-page-handler="exercise">
        <input type="hidden" name="id" value="@Model.Workout.Id" />
        <button class="text-primary btn">
            Add an exercise +
        </button>
    </form>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

<style>
    .exercise {
        border: var(--neutral) solid 1px;
        padding: 10px;
        margin: 10px 0;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('.repetitions-checkbox, .duration-checkbox').on('change', function (){
            let index = $('.repetitions-checkbox').index(this) 
            if(index == -1) index = $('.duration-checkbox').index(this) 
            console.log(index)
            $('.repetitions-inputs').eq(index).toggle()   
            $('.duration-inputs').eq(index).toggle()   
        })

        $('.exercise').submit((e) => {
            let weightInput = e.target.elements["WorkoutExercise.Weight"]
            weightInput.value = weightInput.value.replace('.', ',') 

            return true
        })

    </script>
}
