@page
@model webex.Pages.Workouts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white">Workouts</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table text-primary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Workout[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Workout) {
            <tr style="color: @item.Color">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
