@page
@model webex.Pages.Workouts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white">Workouts</h1>

@if (User?.Identity?.IsAuthenticated != null && User.Identity.IsAuthenticated)
{
    <p><a asp-page="Create">Create New</a></p>
}
else
{
    <p><a href="/Auth/Login" onclick="handleRedirect()">Create - Login required</a></p>
}

<form asp-page="./Index" method="get">
    <div class="form-actions text-white search-form-container">
        <input type="text" name="SearchString" value="@Model.CurrentFilter" class="inputSearch" placeholder="Search..."  />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-page="./Index">Clear</a>
    </div>
</form>

<table class="table text-primary">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                    asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Workout[0].Name)
                </a>
            </th>
            <th>Exercises</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Workout)
        {
            <tr style="color: @item.Color">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @foreach (var ex in item.WorkoutExercises)
                    {
                        <span class="badge"
                            style="color: @(ex.Exercise?.Color); border-color: @(ex.Exercise?.Color)">@ex.Exercise?.Name</span>
                    }
                </td>
                <td>
                    @if (User?.Identity?.IsAuthenticated != null && User.Identity.IsAuthenticated)
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    @if (User?.Identity?.IsAuthenticated != null && User.Identity.IsAuthenticated)
                    {
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Workout.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Workout.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.Workout.PageIndex - 1)"
    asp-route-currentFilters="@Model.CurrentFilter" class="btn btn-pagination text-primary @prevDisabled">
    Previous</a>

<a asp-page="./Index" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.Workout.PageIndex + 1)"
    asp-route-currentFilters="@Model.CurrentFilter" class="btn btn-pagination text-primary @nextDisabled">
    Next
</a>
<script>
    function handleRedirect() {
        localStorage.setItem('redirect_back', "/Workouts/Create")
    }
</script>
